.OrchestratorWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.OrchestratorNavigation nav {
    display: flex;
}

.OrchestratorNavigation button[aria-current="true"] {
    font-weight: bold;
}

.OrchestratorComponent {
    display: flex;
    gap: 1rem;
}

.OrchestratorActions {
    align-self: flex-start;
    display: flex;
    gap: .2rem;
}
